/* web font */
        @font-face {
            font-family: 'S-CoreDream-6Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'OTEnjoystoriesBA';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        /* layout control */
        #menu-area {
            display: flex;
            width: 1312px;
            justify-content: flex-end;
        }
        .container, #game-area {
            display: flex;
            justify-content: center;
        }


        /* trying */
        .footer {
            width: 100vw;
            height: 144px;
            background-image: url(src/footer-white.png);
            background-size: 396px;
            background-repeat: repeat-x;
        }
        
        /* navigation menu control */
        body {background-color: #f8f0de;}
        input {display: none;}
        .open {
            background-color: #2b2b2b;
            width: 32px;
            height: 3px;
            display: block;
            border-radius: 2px;
            cursor: circle;
            position: relative;
            top: 52px;
        }

        .open::before {
            content: "";
            background-color: #2b2b2b;
            width: 32px;
            height: 3px;
            display: block;
            border-radius: 2px;
            position: relative;
            top: -7px;
            transform: rotate(0deg);
            transition: all 0.3s ease;
        }

        .open::after {
            content: "";
            background-color: #2b2b2b;
            width: 32px;
            height: 3px;
            display: block;
            border-radius: 2px;
            position: relative;
            top: 4px;
            transform: rotate(0deg);
            transition: all 0.3s ease;
        }

        .menu-open {
            width: 32px;
            height: 20px;
            display: block;
            padding: 15px;
            cursor: circle;
            float: right;
        }

        .menu {
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0%;
            left: 0%;
            background: #2b2b2b;
        }

        .menu label {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 20px;
            top: 20px;
            background-size: 100%;
        }

        .menu .menu-content {
            position: relative;
            top: 50%;
            font-size: 72pt;
            padding-bottom: 20px;
            margin-top: -170px;
        }

        .menu ul {
            list-style: none;
            padding: 0%;
            margin: 0 auto;
        }
        
        .menu ul li a {
            display: block;
            color: #f8f0de;
            text-decoration: none;
            transition: color 0.2s;
            padding: 10px 0;
            font-family: 'S-CoreDream-6Bold';
        }

        .menu ul li a:hover {
            color: #b1a998;
        }

        .menu ul li:hover {

        }

        .menu-effects {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5, visibility 0.5s;
        }

        .menu-effects ul {
            transform: translateY(0%);
            transition: all 0.5s;
        }

        #menu-toggle:checked ~ .menu-effects {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.5s;
        }

        #menu-toggle:checked ~ .menu-open .open {
            opacity: 1;
        }

        #menu-toggle:checked ~ .menu-open .open {
            background-color: transparent;
        }
        
        #menu-toggle:checked ~ .menu-open .open::before {
            content: "";
            background-color: #f8f0de;
            transform: rotate(45deg);
            position: absolute;
            top: 0%;
            right: 0%;
            z-index: 1;
        }

        #menu-toggle:checked ~ .menu-open .open::after {
            content: "";
            background-color: #f8f0de;
            transform: rotate(-45deg);
            position: relative;
            top: 0%;
            right: 0%;
            z-index: 1;
        }

        #menu-toggle:not(:checked) ~ .menu-effects ul {
            transform: translateY(-30%);
        }