.content {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

    text-align: center;
}


body { background-color: #F8F0DE; margin-left: 0%;}
.holder { width: 75%; left: 12.5%;}
header { position: fixed; left: 0px; top: 0px; width: 100%; padding: 30px 30px 0;}
header .holder .menu-trigger span:nth-child(1) { top: 0px; }